.image-section {
  background-color: #f9fafb; /* Light background for contrast */
}

.project-item {
  margin-bottom: 16px; /* Space between items */
  border-radius: 8px; /* Rounded corners */
  overflow: hidden; /* Ensure images don't overflow */
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1); /* Subtle shadow for depth */
}

.project-item img {
  border-radius: 8px; /* Rounded corners for images */
  transition: transform 0.3s ease; /* Smooth transition for hover effect */
}

.project-item img:hover {
  transform: scale(1.05); /* Slight zoom on hover */
}

.image-gallery {
  padding: 20px;
}

.my-masonry-grid {
  display: flex;
  margin-left: -30px; /* gutter size offset */
  width: auto;
  flex-wrap: wrap;
}

.my-masonry-grid_column {
  padding-left: 30px; /* gutter size */
  background-clip: padding-box;
  width: calc(100% / 4 - 30px);
}

.image-item img {
  width:100%;
  display:block;
}

.rotate-text {
  transition: transform 0.5s ease-in-out; /* Smooth transition for the rotation */
  margin: 80px;
}

/* Apply rotation only for screens smaller than 1100px */
@media (max-width: 1100px) {
  .rotate-text {
    transform: rotate(90deg); /* Rotate the text by 90 degrees */
    /* Vendor prefixes for broader compatibility */
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    -o-transform: rotate(90deg);
  }

  .text-smaller {
    font-size: 5rem;
  }
}

/* Apply rotation only for screens smaller than 768px */
@media (max-width: 1023px) {
  .rotate-text {
    transform: rotate(0deg); /* Rotate the text by 90 degrees */
    /* Vendor prefixes for broader compatibility */
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    margin-left: 10px;
  }

  .text-smaller {
    font-size: 2rem;
    margin-top: 1px;
  }
}