@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'HelveticaNeueMedium';
    src: url('./assets/fonts/HelveticaNeueMedium.otf') format('opentype'); /* Adjust the path as necessary */
    font-weight: normal;
    font-style: normal;
}


body {
    @apply font-sans;
}